@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
*{
	font-family: 'ABeeZee', sans-serif;
}

#table1{
	min-width: 400px;
	border-collapse:collapse;
	margin:45px auto;
	font-size: 15px;
	box-shadow: 0 0 25px grey;
	overflow: hidden;
	border-radius: 15px 15px 0 0 ;

}

#table1 thead tr{
	text-align: left;
	background-color: #009879;
	color: #ffffff;
}

#table1 th,
#table1 td {
	padding: 12px 15px;
}


#table1  tbody tr{
	border-bottom: 1px solid #dddddd;
	padding: 16px 14px;
}
#table1 tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
	color: #009879;

}
#table1 tbody tr:last-of-type{
	border-bottom: 3px solid #009879;
}
h2{
	display: inline;
	color:#009879;
	border-bottom: 3px solid #dddddd;
	margin: 1% 30% 0 43%;

}
